html 
    head 
        title WEB2-labos2
        style
            include ../../public/index.css
    body
        if username
            h1 Dobrodošao #{username}
            a(href='/vulnerabilities', title='Ranjivosti')
                button.links Ranjivosti
            div.logout: form(action="/logout", method="get")
                input(type="submit", value="Logout " + username)
        else
            a(href='/login', title='Prijava')
                button.links Prijava
